---
layout: default
---

<div class="container">

  <div style="max-width: 900px; margin: 20px auto 20px auto; text-align: center; color: #ccc; font-size: 16px; line-height: 1.8;">
    <p><strong>My work focuses on analyzing mortgage and financial data to move from insight to action:</strong></p>

    <p style="margin-top: 10px;">
      • Identifying trends in loan performance<br>
      • Understanding drivers behind approval outcomes<br>
      • Building tools to support operational decision-making and prioritization
    </p>
  </div>
<div style="width:80px; height:2px; background:#00bfa5; margin:20px auto 20px auto;"></div>
  <div class="row" style="display: flex; justify-content: center;">
    {% for post in paginator.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>

  {% include pagination.html %}

</div>
